[Unit]
Description=Run netcdf file generation from frost data
Wants=frost-extract-all.timer

[Service]
User=obs2nc
ExecStart=/usr/local/bin/frost-extract-all
Environment=FROST_KEY=""

[Install]
WantedBy=multi-user.target
